<!DOCTYPE html>
<html>
<head>
    <title>{{ book[1] }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ book[1] }}</h1>
   <div class="book-card">
    {% if book[5] %}
        <img src="{{ url_for('get_cover', filename=book[5]) }}" alt="Обложка" class="book-cover-large">
    {% endif %}
    <div class="book-details">
        <p><strong>Автор:</strong> {{ book[2] }}</p>
        <p><strong>Жанр:</strong> {{ book[3] }}</p>
        <p><strong>Описание:</strong> {{ book[4] }}</p>
        <!-- Добавьте отображение рейтинга -->
        <p><strong>Рейтинг:</strong> 
            <span class="stars">
                {% set avg_rating = book[6] if book[6] is not none else 0 %}
                {% for i in range(1, 6) %}
                    {% if avg_rating >= i %}
                        ★
                    {% elif avg_rating > (i - 0.5) %}
                        ☆
                    {% else %}
                        ☆
                    {% endif %}
                {% endfor %}
            </span>
            ({{ "%.1f"|format(avg_rating) }})
        </p>
    </div>
    <h3>Отзывы:</h3>
    <div class="review-box">
    <ul>
    {% for review in reviews %}
        <li>
            {{ review[0] }} 
            <div class="book-rating">
                <span class="stars">
                    {% for i in range(1, 6) %}
                        {% if review[1] >= i %}
                            ★
                        {% else %}
                            ☆
                        {% endif %}
                    {% endfor %}
                </span>
                ({{ review[1] }})
            </div>
        </li>
    {% else %}
        <li>Нет отзывов.</li>
    {% endfor %}
    </ul>
    </div>
    <form method="post" class="form-box">
        Отзыв:<br><textarea name="review"></textarea><br>
        Оценка: <input type="number" name="rating" min="1" max="5" placeholder = "от 1 до 5"><br>
        <input type="submit" value="Добавить">
    </form>
    <a href="{{ url_for('index') }}">Назад</a>
    
</body>
</html>